
:root{
    --bg-color : #1c1e22;
    --main-color : #45b6fe;
}

html{
    scroll-behavior: smooth;
  }
  
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  
    body{
      overflow-x: hidden;
      height: 100vh;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: var(--bg-color);
    }
  
    nav{
      height: 80px;
      width: 100%;
    }
  
    nav ul{
      margin-left: 8rem;
    }
    
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 30px;
    }
    nav ul li a{
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      transition: all 0.2s;
    }
  
    nav ul li a:hover{
      /* transform: color; */
      color: #45b6fe;
    }
  
    .checkbtn{
      font-size: 30px;
      color: white;
      line-height: 80px;
      margin-left: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }


    @media (max-width: 858px){
        .checkbtn{
          display: block;
        }
        
        nav ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #5b5b5b;
          top: 80px;
          right: 100%;
          text-align: center;
          transition: all 0.5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
    
        nav ul li a{
          font-size: 20px;
        }
    
        #check:checked ~ ul{
          right: 0;
          
        }
    
        #check:checked ~ header{
            position: relative;
          background-color: #1c1e22;
          
        }     

    }



    /* home section */

    .home{
      height: 100%;
    }

    .home .container{
      height: 85%;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 1380px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
    }
    

    .home .container .content-left h3{
      color: var(--main-color);
      font-size: 2rem; 
    }

    
    .home .container .content-left h1{
      color: white;
      font-size: 3.5rem; 
    }

    
    .home .container .content-left button{
      border: none;
      color: white;
      background-color: var(--main-color);
      padding: 1rem 2rem 1rem 2rem;
      border-radius: 8px;
      font-size: 1rem;
      margin-top: 1rem;
      transition: all 0.2s linear 0s;
    }

    .home .container .content-left button:hover{
        color: var(--main-color);
        background-color: white;
    }
    .home .container .content-right .img-container{
      height: 50vh;
    }


    .home .container .content-right .img-container img{
      height: 90%;
      width: 100%;
    }

    


    @media screen and (max-width:800px) {

        .home{
          margin-top: 2rem;
        }

        .home .container{
          flex-direction: column;
          justify-content: space-around;
        }

        .home .container .content-left h3{
          font-size: 1.5rem;
        }

        .home .container .content-left h1{
          font-size: 2.2rem;
        }

        .home .container .content-left button{
          padding: 0.7rem 1.2rem 0.7rem 1.2rem;
          font-size: 0.8rem;
        }

        .home .container .content-right .img-container{
            height: 40vh;
        }


    }
    

.about{
  background-color: white;
}

.about .container {
  max-width: 1280px ;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.about .container .content-left .img-container{
  overflow: hidden;
  border-radius: 10px;
  height: 40vh;
}

.about .container .content-left .img-container img{
  height: 100%;
  border-radius: 10px;
  width : 100%;
}

.about .container .content-right{
  display: flex;
  flex-direction: column;
}

.about .container .content-right h1{
  font-size: 2.3rem;
}

.about .container .content-right h1 span{
  color: var(--main-color);
}

.about .container .content-right ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.4rem;
}


@media screen and (max-width:700px) {
    .about .container{
      flex-direction: column;
      
    }

    .about .container .content-left .img-container img{
      width: 100%;
      align-self: center;
    }

    .about .container .content-right{
      text-align: center;
    }
}